*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#FFF8B8;
}
.title{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 5px 5px #B34E7E;
}   
.contenedor{
    display: grid;
        
        grid-template-areas:"caja1 caja2 caja3"
                            "caja1 caja4 caja5"
                            "caja1 caja6 caja5"
                            "caja7 caja7 caja8";
                            
        
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
        margin: 20px;
        
    
    height:auto;
    border: 2px solid black;
    background-color: #01B3ED;

    
}
.caja{
    border: 1px solid black;
    background-color: cornflowerblue;
    /* height: 100px; */
    transition: 1s;
}
.caja1{
    /* padding-top: 45px; */
    background-color: rgb(215, 252, 9) ;
    grid-area: caja1;
    background-image: url(/img/boat.jpg) ;
    background-position: center;
    background-size: cover;
    
    
    }
.caja1:hover{
    transform: scale(1.2);
    opacity: 0.7;
}

.caja2{
    /* padding-top: 45px; */
    background-color: blueviolet ;
    grid-area: caja2;
    background-image: url(/img/field.jpg);
    background-position: center;
    background-size: cover;
    height: 150px;
}
.caja2:hover{
    transform: skew(20deg);

}


.caja3{
    /* padding-top: 45px; */
    background-color: blue ;
    grid-area: caja3;
    background-image: url(/img/nature.jpg);
    background-position: center;
    background-size: cover;
    }
.caja3:hover{
    transform: rotate(360deg);
}

.caja4{
    /* padding-top: 45px; */
    background-color: rosybrown ;
    grid-area: caja4;
    background-image: url(/img/road.jpg);
    background-position: center;
    background-size: cover;
    height: 150px;
    }
.caja4:hover{
    transform: perspective(120px) rotateX(30deg);
}

.caja5{
    /* padding-top: 45px; */
    background-color: burlywood ;
    grid-area: caja5;
    background-image: url(/img/mountains.jpg);
    background-position: center;
    background-size: cover;
    }
caja5:hover{
        transform: translatex(40px);
}

.caja6{
    /* padding-top: 45px; */
    background-color: burlywood ;
    grid-area: caja6;
    background-image: url(/img/sea.jpg);
    background-position: center;
    background-size: cover;
    height: 150px;
    }

.caja7{
    /* padding-top: 45px; */
    background-color: burlywood ;
    grid-area: caja7;
    background-image: url(/img/tree.jpg);
    background-position: center;
    background-size: cover;
    height: 150px;
    }

.caja8{
    /* padding-top: 45px; */
    background-color: burlywood ;
    grid-area: caja8;
    background-image: url(/img/field.jpg);
    background-position: center;
    background-size: cover;
    }
/* .caja9{
    /* padding-top: 45px; */
    /* background-color: burlywood ;
    grid-area: caja9;
    } */

/* .caja10{
    /* padding-top: 45px; */
    /* background-color: burlywood ;
   /* } *